body {
  text-align: center;
  background-color: #dbf3fa;
  color: #522d80;
}

h1 {
  color: #522d80;
  margin: 0 auto;
  font-size: 64px;
  margin: 2%;
}


h2 {
  color: #6593f5;
  font-weight: lighter;
  font-size: 48px;
  margin: 2%;
}

h3 {
  color: #f25278;
  font-size: 36px;
  font-weight: lighter;
}
h4 {
  color: #9172ec;
  font-size: 28px;
  font-weight: lighter;
}
ul {
  color: #522d80;
  font-size: 24px;
}
