body {
  text-align: center;
  background-color: #f8b195;
}

h1 {
  color: #355c7d;
  margin: 0 auto;
  font-size: 64px;
  margin: 2%;
}


h2 {
  color: #6c5b78;
  font-weight: lighter;
  font-size: 48px;
  margin: 2%;
}

h3 {
  color: #c06c84;
  font-size: 36px;
  font-weight: lighter;
}
h4 {
  color: #9172ec;
  font-size: 28px;
  font-weight: lighter;
}
h5{
  color: #f67280;
}
ul {
  color: #522d80;
  font-size: 24px;
}

#topLeft {
  position: absolute;
  height: 250px;
  width: 250px;
  background: #659965;
  top: 73%;
  left: 50%;
  margin: -250px 0px 0px -250px;
  border-style: solid;
  border-width: 5px;
}
#buttonGreen {
  position: absolute;
  height: 250px;
  width: 250px;
  background: #659965;
  top: 0%;
  left: 0%;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

#buttonGreen:hover {
  background-color: #9aed9a;
}

#topRight {
  position: absolute;
  height: 250px;
  width: 250px;
  background: #8f3535;
  top: 73%;
  left: 50%;
  margin: -250px 0px 0px 0px;
  border-style: solid;
  border-width: 5px;
}

#buttonRed {
  position: absolute;
  height: 250px;
  width: 250px;
  background: #8f3535;
  top: 0%;
  left: 0%;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

#buttonRed:hover{
  background-color: #e33f3f;
}

#bottomLeft {
  position: absolute;
  height: 250px;
  width: 250px;
  background: #4988a6;
  top: 73%;
  left: 50%;
  margin: 0px -250px 0px -250px;
  border-style: solid;
  border-width: 5px;
}

#buttonBlue {
  position: absolute;
  height: 250px;
  width: 250px;
  background: #4988a6;
  top: 0%;
  left: 0%;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

#buttonBlue:hover {
  background-color: #57b8e6;
}

#bottomRight {
  position: absolute;
  height: 250px;
  width: 250px;
  background: #c4bf49;
  top: 73%;
  left: 50%;
  margin: 0px 0px -250px 0px;
  border-style: solid;
  border-width: 5px;

}

#buttonYellow {
  position: absolute;
  height: 250px;
  width: 250px;
  background: #c4bf49;
  top: 0%;
  left: 0%;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

#buttonYellow:hover {
  background-color: #f0eb73;
}

#startButton {
  position:absolute;
  background-color: #b19cd9;
  border: 2px solid black;
  color: black;
  font-size: 46px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
  top:32%;
  left:34%;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}
#startButton:active {
  background-color: #a781f0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
