body {
  text-align: center;
  background-color: #f8b195;
}

h1 {
  color: #355c7d;
  margin: 0 auto;
  font-size: 64px;
  margin: 2%;
}


h2 {
  color: #6c5b78;
  font-weight: lighter;
  font-size: 48px;
  margin: 2%;
}

h3 {
  color: #c06c84;
  font-size: 36px;
  font-weight: lighter;
}
h4 {
  color: #9172ec;
  font-size: 28px;
  font-weight: lighter;
}
h5{
  color: #f67280;
}
ul {
  color: #522d80;
  font-size: 24px;
}

/*
#topleft {
  position: fixed;
  height: 200px;
  background-color:green;

}
#topright {
  position: fixed;
  height: 200px;
  background-color: red;
}
#bottomleft {
  position: fixed;
  height: 200px;
  background-color: blue;
}
#bottomright {
  position: fixed;
  height: 200px;
  background-color: yellow;
}

#turn {
  position: absolute;
  background: #330000;
  color: red;
  font-family: courier;
  font-size: 20px;
  height: 30px;
  width: 50px;
  margin-left: 90px;
  margin-top: 170px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
#outer-circle {
  background: #385a94;
  height: 500px;
  width: 500px;
  position: relative;
  border-style: solid;
  border-width: 10px;
  margin: auto;
  margin-top: 60px;
  box-shadow: 8px 8px 15px 5px #888888;
}
*/
#topleft {
  position: absolute;
  height: 250px;
  width: 250px;
  background: green;
  top: 75%;
  left: 50%;
  margin: -250px 0px 0px -250px;
  border-style: solid;
  border-width: 5px;
}

#topright {
  position: absolute;
  height: 250px;
  width: 250px;
  background: red;
  top: 75%;
  left: 50%;
  margin: -250px 0px 0px 0px;
  border-style: solid;
  border-width: 5px;
}

#bottomleft {
  position: absolute;
  height: 250px;
  width: 250px;
  background: yellow;
  top: 75%;
  left: 50%;
  margin: 0px -250px 0px -250px;
  border-style: solid;
  border-width: 5px;
}

#bottomright {
  position: absolute;
  height: 250px;
  width: 250px;
  background: blue;
  top: 75%;
  left: 50%;
  margin: 0px 0px -250px 0px;
  border-style: solid;
  border-width: 5px;
}
